{% extends 'website/layout.html' %}
{% load static %}

{% block content %}

<!-- Page Content -->
<div class="container" style="margin-top: 100px;">
    <div class="row">
        <!-- Team Member 1 -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="{% static 'website/img/seongyong.png' %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">곽승용</h5>
                    <div class="card-text text-black-50">포지션: 보컬<br/>출생: 1994년 2월 4일</div>
                </div>
            </div>
        </div>
        <!-- Team Member 2 -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="{% static 'website/img/munhyun.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">김문현</h5>
                    <div class="card-text text-black-50">포지션: 드럼<br/>출생: 1998년 1월 17일</div>
                </div>
            </div>
        </div>
        <!-- Team Member 3 -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="{% static 'website/img/sumin.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">김수민</h5>
                    <div class="card-text text-black-50">포지션: 키보드<br/>출생: 1999년 10월 7일</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Team Member 4 -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="{% static 'website/img/yongseong.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">이용승</h5>
                    <div class="card-text text-black-50">포지션: 기타<br/>출생: 1994년 3월 21일</div>
                </div>
            </div>
        </div>
        <!-- Team Member 5 -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="{% static 'website/img/yujang.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">하유장</h5>
                    <div class="card-text text-black-50">포지션: 기타<br/>출생: 2000년 5월 15일</div>
                </div>
            </div>
        </div>
        <!-- Team Member 6 -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="{% static 'website/img/jaeseok.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">홍재석</h5>
                    <div class="card-text text-black-50">포지션: 베이스<br/>출생: 2000년 11월 9일</div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
{% endblock %}